<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Titulo pagina {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'cursos' %}">Cursos</a></li>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'curso_formulario' %}">Crear curso</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Este es el footer</p>
    </footer>
</body>
</html>