{% extends 'base.html' %}

{% block title %}Listado de Cursos{% endblock %}

{% block content %}
    <h1>Listado de Estudiantes</h1>
    <ul>
        {% for estudiante in estudiantes %}
            <li>{{ estudiante.nombre }} {{ estudiante.apellido }}</li>
            <p>
                <a href="{% url 'buscar_estudiante' estudiante.id %}">Buscar</a>
                <a href="{% url 'actualizar_estudiante' estudiante.id %}">Actualizar</a>
                <a href="{% url 'eliminar_estudiante' estudiante.id %}">Eliminar</a>
            </p>
        {% endfor %}
    </ul> 
{% endblock %}